@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
body {
  font-size: .875rem;
  font-family: 'Roboto', sans-serif;

}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.content-head {
  margin-top: 1.3rem !important;
  margin-bottom: 1rem;
}

.sublist {
  margin-left: 2rem;
}

.table {
  margin-top: 1rem;
}

.add-button {
  color: #FFFFFF;
  cursor: pointer;
}

.edit-icon {
  margin-right: 4px;
  font-size: 1.5rem;
  color: #ffc107;
  cursor: pointer;
}

.delete-icon {
  font-size: 1.5rem;
  color: #dc3545;
  cursor: pointer;
}

.search-bar {
  max-width: 25%;
}

.active-link {
  font-size: 1rem;
  color: #007bff;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

main {
  position: absolute !important;
  right: 0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.icon-brand {
  display: inline;
  margin-right: .2rem;
  border: 2px solid white;
  border-radius: .2rem;
  padding: .3rem;
  font-weight: normal;
}

.sidebar-sticky {
  margin-top: .7rem;
}